html
  head
    title= 'Hangman'
  body
    h1= displayWord
    form(action='' method='post')
      select(name='guess')
        each letter in unguessedLetters
          option(value=letter) #{letter}
        input(type='submit')
