html
  head
    title= 'Hangman'
  body
   p= 'You Lost! The word was ' + word
   p= 'You\'ve won ' + gamesWon + ' game(s).'
   p= 'You\'ve lost ' + gamesLost + ' game(s).'
   a(href='/game') New Game

